@import '~/css/variables.less';

#AppCreate{
    .tag{
        display: flex;
        align-items: center;
        .ult-rcform-group{
            width: 100%;
        }
        .icon-add{
            width: 0;
            position: relative;
            margin-bottom: 24px;
            left: 5px;
            font-size: 18px;
            cursor: pointer;
        }
        .icon-add:hover{
            color: #3da4f1;
        }
    }
    .tagList{
        display: flex;
        align-items: center;
        padding-left: 20%;
        .tagItem{
            padding: 4px 16px;
            border: 1px solid gainsboro;
            border-radius: 12px;
            margin-right: 10px;
            margin-bottom: 20px;
            .icon-error{
                font-size: 13px;
                position: absolute;
                margin-top: -5px;
                color: gainsboro;
            }
            .icon-error:hover{
                color: #eb5f5c;
            }
        }
    }
    .selectAppPackage{
        .@{ult-prefix}-card-list-wrapper{
            .@{ult-prefix}-card-list-header{
                display: none;
            }
            @media screen and (min-width: 1200px){
                .@{ult-prefix}-col-lg-3 {
                    width: 25%;
                }
            }
            @media screen and (min-width: 992px){
                .@{ult-prefix}-col-md-3 {
                    width: 33.33%;
                }
            }
            @media screen and (min-width: 768px){
                .@{ult-prefix}-col-sm-6 {
                    width: 50%;
                }
            }
            .@{ult-prefix}-item-card-content-item:nth-child(2){
                div:nth-child(1){
                    width: 100%;
                }
                div:nth-child(2){
                    width: 0;
                    padding: 0;
                }
                .brand{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 0 auto;
                    width: 50px!important;
                    height: 50px;
                    border-radius: 100px;
                    .iconfont{
                        color: white;
                        font-size: 28px;
                    }
                }
            }
        }
    }
    .cpu_memory{
        .lineItem{
            display: flex;
            align-items: flex-start;
            margin-bottom: 20px;
            justify-content: space-between;
            .label{
                width: 15%;
                text-align: right;
                line-height: 32px;
            }
            .recommend{
                width: 25%;
                text-align: center;
                line-height: 32px;
            }
            .assign{
                width: 35%;
                text-align: center;
            }
            .available{
                padding-left: 30px;
                width: 25%;
                text-align: right;
            }
            .availableStorage{
                display: flex;
                flex-wrap: wrap;
            }
            .@{ult-prefix}-rcform-group{
                margin-bottom: 0;
                .@{ult-prefix}-label{
                    width: 0;
                    min-width: 0;
                    padding-top: 0;
                    padding-right: 0;
                }
                .@{ult-prefix}-rcform-group-input-wrapper{
                    width: 100%;
                }
                .validation-error{
                    padding-left: 0;
                    text-align: left;
                }
            }
            .storageRecommend{
                display: flex;
                flex-direction: column;
            }
        }
        .storageLine{
            line-height: 25px;
        }
    }
    .codeDiff{
        width: 100%;
        overflow: auto;
        margin-bottom: 20px;
        .btnGroup{
            padding-left: 20%;
            margin-bottom: 20px;
            .@{ult-prefix}-btn-primary{
                border-radius: 3px 0 0 3px;
            }
            .@{ult-prefix}-btn-warning{
                border-radius: 0 3px 3px 0;
            }
        }
        .newChartValuesInput{
            width: 100%;
            max-height: 500px;
            .@{ult-prefix}-textarea{
                min-height: -webkit-fill-available;
            }
            .@{ult-prefix}-label{
                width: 0;
                min-width: 0;
                padding-top: 0;
                padding-right: 0;
            }
            .@{ult-prefix}-rcform-group-input-wrapper{
                width: 100%;
            }
        }
        table{
            border: 1px solid #d9d9d9;
            border-radius: 3px;
            padding: 4px 8px;
            width: calc(100% - 2px);
            .css-1wdmqof-code-fold td:first-child{
                padding-left: 1px;
            }
        }
    }
    .storageForm{
        width: 100%;
        display: flex;
        flex-direction: column;
        .storageItem{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 24px;
            .ult-rcform-group{
                width: calc(50% - 5px);
                .ult-label{
                    width: 0;
                    min-width: 0;
                    padding-top: 0;
                    padding-right: 0;
                }
                .ult-rcform-group-input-wrapper{
                    width: 100%;
                }
            }
            .iconfont{
                width: 0;
                position: absolute;
                right: -4px;
                font-size: 18px;
                cursor: pointer;
            }
            .iconfont:hover{
                color: #3da4f1;
            }
            .disableAdd{
                color: gainsboro!important;
            }
            .disableAdd:hover{
                color: initial;
            }
        }
    }
    .icon-info-s{
        font-size: 13px;
        cursor: pointer;
    }
    .icon-info-s:hover{
        color: #3da4f1;
    }
}

.appPackageVersionItem{
    display: flex;
    align-items: center;
    .circle{
        width: 8px;
        height: 8px;
        border-radius: 100px;
        background-color: #027DB4;
        margin-right: 15px;
    }
    .versionName{
        font-size: 16px;
    }
}

.configDetailDialog{
    .configDetailContent{
        .detailItem{
            margin-bottom: 20px;
        }
    }
}

