@import '~/css/variables.less';

#ManageContainerItem{
    display: flex;
    justify-content: center;
    width: 100%;
    height: calc(100% - 58px);
    .left{
        background: #F5F8FA;
        border-radius: 3px;
        border-radius: 3px;
    }
}


