.applicationDetail{
    width: 100%;
    height: 100%;
    .operaBar{
        width: 100%;
        height: 30px;
        background: #eaf0f6;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 6px 0;
        .leftGroup{
            display: flex;
        }
        .operaItem{
            padding: 0 8px;
            font-size: 12px;
            // color: #4c8cca;
            border-right: 1px dotted;
            cursor: pointer;
            border-radius: 0;
            .iconfont{
                font-size: 12px;
            }
        }
        .noborder{
            border-right: none;
        }
        .archer-dropdown-trigger{
            border-right: none;
            width: 400px;
            display: flex;
            justify-content: space-between;
            border-left: 1px dotted;
            color: #4c8cca;
        }
    }
    .detailContent{
        width: 100%!important;
        height: calc(100% - 30px);
        padding: 15px;
        .archer-tabs{
            width: 100%;
            height: 100%;
            .archer-tabs-nav{
                margin-bottom: 10px;
            }
            .archer-tabs-content-holder{
                width: 100%;
                height: 100%;
            }
        }
    }
}

.updateApplicationModal{
    .archer-modal-content{
        .archer-modal-body{
            padding: 16px;
            .codeDiff{
                width: 100%;
                overflow: auto;
                .btnGroup{
                    margin-bottom: 15px;
                    padding-left: 130px;
                    .archer-btn-primary{
                        border-radius: 3px 0 0 3px;
                    }
                    .archer-btn-warning{
                        border-radius: 0 3px 3px 0;
                    }
                }
                .newChartValuesInput{
                    width: 100%;
                    // max-height: 500px;
                    .archer-textarea{
                        min-height: -webkit-fill-available;
                    }
                    .archer-label{
                        width: 0;
                        min-width: 0;
                        padding-top: 0;
                        padding-right: 0;
                    }
                    .archer-rcform-group-input-wrapper{
                        width: 100%;
                    }
                }
                table{
                    border: 1px solid #d9d9d9;
                    border-radius: 3px;
                    padding: 4px 8px;
                    width: calc(100% - 2px);
                }
            }
            .ult-label{
                width: 130px;
            }
            .ult-rcform-group-input-wrapper{
                width: calc(100% - 130px);
                .ult-textarea{
                    min-height: 120px;
                }
            }
            .ult-rcform-group{
                margin-bottom: 15px;
            }
            .ult-rcform-group:last-child{
                margin-bottom: 0;
            }
        }
    }
}

.applicationRollBackModal{
    .des{
        margin-bottom: 20px;
    }
    .ult-rcform-group{
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
        .ult-label{
            width: auto;
            margin-bottom: 5px;
        }
        .ult-rcform-group-input-wrapper{
            width: 100%!important;
        }
        .validation-error{
            padding-left: 0!important;
            margin-top: 60px;
        }
    }
}

.OutputLogList{
    width: 400px;
    border-left: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
    background-color: white;
    padding: 15px;
    color: #4c8cca;
    .logContent{
        background: #F6F8FA;
        padding: 10px;
    }
    .dropSelect{
        background-color: #eaf0f6;
        padding: 4px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        cursor: pointer;
        .iconfont{
            font-size: 12px;
        }
    }
}

.Application_OutputHisttory_LogList{
    background-color: white;
    max-height: 150px;
    overflow: auto;
    border: 1px solid #ededed;
    width: 250px;
    border-radius: 4px;
    padding: 10px 0;
    margin: 0 auto;
    .logItem{
        text-align: center;
        cursor: pointer;
        padding: 4px 0;
        font-size: 13px;
    }
    .logItem:hover{
        background-color: #eaf0f6;
    }
}