#AppStoreAppManage{
    .tag{
        display: flex;
        align-items: center;
        .ult-rcform-group{
            width: 100%;
            margin-bottom: 10px;
        }
        .icon-add{
            width: 0;
            position: relative;
            margin-bottom: 10px;
            left: 5px;
            font-size: 18px;
            cursor: pointer;
        }
        .icon-add:hover{
            color: #3da4f1;
        }
    }
    .labelList{
        display: flex;
        flex-wrap: wrap;
        padding-left: 20%;
        margin-bottom: 20px;
    }
    .archer-table-wrapper{
        padding-left: 20%;
        margin-bottom: 20px;
    }
}