@import '~antd/dist/antd.less';

* {
    margin: 0;
    padding: 0;
}
::-webkit-input-placeholder {
    font-size: 12px;
  }
#root{
    width: 100%;
    height: 100%;
    .rootContent{
        width: 100%;
        height: 100%;
    }
}

// 应用中心公用布局样式 - start
#applicationCenter_layout{
    width: 100%;
    height: calc(100% - 58px);
    font-size: 12px;
    .layoutSearchBar{
        height: 33px;
        line-height: 33px;
        background: #F6F8FA;
        padding-left: 25px;
        display: flex;
        align-items: center;
        border-top: 1px solid #ededed;
        border-bottom: 1px solid #ededed;
        .archer-select-selection-placeholder{
            font-size: 12px;
            color: #4c8cca;
        }
    }
    .layoutContent{
        width: 100%;
        height: calc(100% - 33px);
        display: flex;
        .tableContainer{
            width: 200px;
            height: 100%!important;
            height: fit-content;
            border-right: 1px solid #ededed;
            background: #F6F8FA;
            .nameSearch{
                width: 100%;
                height: 40px;
                padding: 0 12px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-bottom: 1px solid #ededed;
                .archer-input-search{
                    .archer-input-wrapper{
                        input{
                            height: 25px;
                        }
                        .archer-input-group-addon{
                            .archer-btn{
                                height: 25px;
                            }
                        }
                    }
                }
            }
            .tableList{
                .tableItem{
                    padding: 6px 10px;
                    display: flex;
                    justify-content: space-between;
                    cursor: pointer;
                    display: flex;
                    .basicInfo{
                        .name{
                            display: flex;
                            align-items: center;
                            font-size: 14px;
                            color: #4c8cca;
                        }
                        .projectName{
                            font-size: 12px;
                            color: #7c98b6;
                            padding-left: 12px;
                        }
                    }
                    .status{

                    }
                }
                .tableItem:hover, .activeTableItem{
                    background-color: white;
                }
            }
        }
        .detailContainer{
            width: calc(100% - 200px);
            .operaBar{
                width: 100%;
                height: 30px;
                background: #eaf0f6;
                display: flex;
                align-items: center;
                // justify-content: space-between;
                padding: 6px 0;
                .operaItem{
                    padding: 0 8px;
                    font-size: 12px;
                    // color: #516F90;
                    border-right: 1px dotted;
                    cursor: pointer;
                    border-radius: 0;
                    .iconfont{
                        font-size: 12px;
                    }
                }
                .noborder{
                    border-right: none;
                }
            }
            .detailContent{
                width: 100%!important;
                height: calc(100% - 30px);
                padding: 15px;
                .archer-tabs{
                    width: 100%;
                    height: 100%;
                    .archer-tabs-nav{
                        margin-bottom: 10px;
                    }
                    .archer-tabs-content-holder{
                        width: 100%;
                        height: 100%;
                        overflow: auto;
                        .archer-tabs-content{
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
        }
    }
}
// 应用中心公用布局样式 - end
.archer-select-dropdown{
    width: auto!important;
}

// 标题前有一个|的样式类
.activeBefore{
    position: relative;
}
.activeBefore::before {
    content: '';
    width: 2px;
    height: 16px;
    background-color: #4c8cca;
    position: absolute;
    margin-left: -15px;
    margin-top: 2px;
}
// 显示状态的圆点
.stateDot{
    width: 6px;
    height: 6px;
    border-radius: 50px;
    margin-right: 6px;
}
// chart文本
.chartValueDialog{
    .chartValues{
        line-height: 16px;
    }
}

.archer-btn-operate.archer-dropdown-trigger{
    width: 20px;
    height: 16px;
}

.archer-btn-link{
    span{
        div{
            display: flex;
            align-items: center;
        }
    }
}

.archer-btn-operate{
    display: flex!important;
    align-items: center;
    justify-content: center;
}

.operaGroup{
    display: flex;
    align-items: center;
    .iconfont{
        font-size: 13px;
        color: #7C98B6;
        margin: 0 5px;
        cursor: pointer;
    }
}

.ant-cascader-menus{
    font-size: 12px;
}